h2{
    color: rgb(14, 14, 50);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
div{
    background-color:rgb(58, 201, 93);
}
body{
    background-color:rgb(175, 189, 46);
}
table{
    background-color: blanchedalmond;
}

